<% content_for :links do %>
	<b class="brand" >Sing Up New User</b>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>

  <%= render_error(resource,f,:name) %>
  <%= render_error(resource,f,:phone) %>
  <%= render_error(resource,f,:role) %>
  <%= render_error(resource,f,:email) %>
  <%= render_error(resource,f,:password) %>
  <%= render_error(resource,f,:password_confirmation) %>

  <div class="form-actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %> <br><br>
  	<%= render "devise/shared/links" %>
  </div>
<% end %>


