<%= form_for([@user, @task]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Task::STATUS %>
  </div>
  <div class="field">
    <%= f.label :time_to_finish %><br />
    <%= f.date_select(:time_to_finish)%>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>