<%- model_class = Task -%>
<div class="navbar">
  <div class="navbar-inner">
    <b class="brand" >Show Task</b>
  </div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @task.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @task.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_to_finish) %>:</strong></dt>
  <dd><%= @task.time_to_finish %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @task.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @task.user_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Users Tasks', user_tasks_path(@user), :class => 'btn'  %>
</div>
