<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render_error(@user,f,:name) %>

  <%= render_error(@user,f,:email) %>

  <%= render_error(@user,f,:phone) %>

  <%= render_error(@user,f,:role) %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
