<%- model_class = User -%>
<div class="navbar">
  <div class="navbar-inner">
    <b class="brand" >Users</b>
    <ul class="nav">
      <li><a href="<%= sistem_tasks_users_path%>">Sistem Tasks</a></li>
    </ul>
  </div>
</div>

<table class="table table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.role %></td>
        <td><%= user.status %></td>
        <td><%=l user.created_at %></td>
        <td>
          <%= link_to 'Show', user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini btn-info' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'delete_user btn btn-mini btn-danger' %>

          <%= link_to 'Show Tasks', user_tasks_path(user), :class => 'btn btn-mini show_tasks'%>
          <%= link_to 'New Task', new_user_task_path(user), :class => 'btn btn-mini new_task' %>
        </td>
        <input type="hidden" value="<%= user.id %>" class="user_id" />
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
